---
layout: default
---

<section class="home rounded">
  <div class="home-block content">
    {{ content }}
  </div>
  <div class="home-block signup">
    <h3>Are you interested?</h3>
    <p>Sign up to be included in the beta interest list for GoTogether.</p>
    <form name="interest-form">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" value="" name="email" class="required email form-control" id="email" required>
      </div>
      <div class="form-group">
        <input type="submit" value="Subscribe" name="subscribe" class="btn btn-success">
      </div>
    </form>
  </div>
</section>
